doctype html
//https://github.com/pugjs/pug
//https://pugjs.org/language/doctype.html
html
  head
    title My Resume
  body
    div 
      //-my skills
      ul
      //-Testing
        Comments
        num
    li A
    li B 
    li C
    p Hello World <b>Hi</b>
    <div class="head">HEADER</div>
    // lezem tekteba hik













